<!DOCTYPE html>
<html>
<head>
  <title>My Angular App!</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body ng-app="flapperNews">
  <!-- <div class="container"> -->

  <div class="row">
    <div ng-include="'nav/_nav.html'" style="margin-bottom:64px;"></div>
    <div class="col-xs-8 col-xs-offset-2">
      <ui-view></ui-view>
    </div>
  </div>

  <!-- </div> -->
</body>

</html>
